doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      block title
        | Jorge Pedret | Vancouver Island Full-Stack Developer
    link(rel="stylesheet", href="/css/style.css")
    block head
  body(class="page-" + current.source)
    .wrap
      .container-fluid
        .header-available
          include _jotform.jade
          a.status.status-available(href="/contact") Available for contracts
        
        header.page-intro
          block header
        
        block content
          !=yield

        block footer