doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      block title
        | Jorge Pedret | Vancouver Island Front-end Engineer
    link(rel="stylesheet", href="/css/style.css")
    block head
  body(class="page-" + current.source)
    .wrap
      .container-fluid
        .header-available
          a.status.status-available(href="/contact") Available for contracts

        header.page-intro
          block header

        // main content injected by pages
        block content
          !=yield
        hr
        ul.list-unstyled.list-cozy.footer
          li
            i.icon-github4
            |  
            a(href="https://github.com/jorgepedret", rel="nofollow noopener noreferrer") github.com/jorgepedret
          li
            i.icon-dribbble3
            |  
            a(href="https://dribbble.com/jorgepedret", rel="nofollow noopener noreferrer") dribbble.com/jorgepedret
          li
            i.icon-home3
            |  
            a(href="/") Home
          li
            i.icon-accessibility
            |  
            a(href="/oracle") Business Oracle
          li
            i.icon-lab
            |  
            a(href="/express-website") Express Website