extends _layout.jade

- var bodyClass = 'contact'

block title
  | Contact | Jorge Pedret

block header
  h1
    a(href="/") Contact Jorge
  p.lead
    | I love working with passionate people to create beautiful and functional digital experiences that make a difference for people.
    br
    br
    | Reach out using the form below or 
    a(href="mailto:jorgepedret@gmail.com") via email
    | .

block content
  article.page-content
    script(type="text/javascript" src="https://form.jotform.com/jsform/253397214212048")

block footer
  include _footer.jade