extends _layout.jade

- var bodyClass = 'index'

block title
  | Freelance developer, designer & illustrator based in Canada | Jorge Pedret

block header
  h1
    a(href="/") Jorge Pedret
  p.lead
    | Freelance 
    strong inventor, designer, illustrator &amp; coder
    br
    |  based in Vancouver Island, Canada.
    br
    | I create beautiful and functional digital experiences 
    br
    | that make a difference for people.
  a(href="/oracle")
    img(src="img/avatar.jpeg")

block content
  article.page-content
    h2 Special Powers
    p For over 15 years I&rsquo;ve been embracing the web as a platform for personal, business and social transformation.
    ul
      li
        | I 
        strong design and code websites
        |  from idea to conception to maintenance using Photoshop, WordPress, Node.js, CSS, HTML and JavaScript.&nbsp;
      li
        | I create 
        strong digital or hand drawn illustrations
        |  for products and services.&nbsp;
      li
        | I 
        strong organize and speak at tech events
        |  in Vancouver, Canada
      li
        | I 
        strong write and design documentation
        |  for open source projects and products
      li I organize and run 
        strong usability research studies
    h2 Achievements
    ul
      li
        | Formation and 
        strong organization of a local meetup group
        | , reaching over 100 local developers and designers assisting the events
      li
        strong Personal tutoring and public speaking
        |  at local tech events like CSS Brigade and HTML5 Vancouver
      li Creation and collaboration on multiple, community and personal, open source projects
      li
        | Created and maintained 
        strong great relationships
        |  with co-workers, clients and contractors
    .box
      h2 Lets work together
      ul
        li Artists, Families &amp; Non-profit Organizations are welcome
        li Preferably 2 to 6 weeks projects with quick turn around
        li Projects not aiming for perfection but for high impact
        li Clear &amp; up front communication from both ends
      
      .cta.text-center
        a.btn.btn-lg.btn-primary(href="/contact")
          i.icon-bubbles2
          |  Get in touch
        br
        span.status.status-available Currently accepting contracts
    blockquote
      p Jorge, you have really helped us over the past few years be passionate about clean HTML, Wordpress integrations and company involvement.
      p
        small Darrell Keezer, Candybox Marketing
    blockquote
      p It&rsquo;s been wonderful having you in our space these last weeks. Your laugh energizes the creativity in our team alone, yeah your designs are ok too ;)
      p
        small Kalvir Sandhu, Brewhouse
    .cta.text-center
      a.btn.btn-lg.btn-primary(href="/contact")
        i.icon-bubbles2
        |  Let&rsquo;s have a talk!

block footer
  include _footer.jade